.container {
  padding: 0 2rem;
}

.hero {
  display: block;
  padding: 65px 15px;
}

.hero_mobile_image {
  display: block;
  margin-bottom: 45px;
}

.hero_content {
  width: auto;
}
.hero_content h1 {
  font-family: var(--primary-font);
  font-size: 45px;
}

.hero_image_desktop {
  display: none;
}

.hero_image_desktop img {
  width: 100%;
}

.shop_selection_btn {
  background-color: #000;
  display: flex;
  width: 230px;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 56px;
}

.listed__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebeee3;
  margin-bottom: 45px;
  padding-top: 65px;
  padding-bottom: 65px;
}
.listed__container ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.listed__container img {
  width: 110px;
}

.journey__section {
  display: block;
  margin-bottom: 45px;
}

.journey__section h2 {
  font-size: 56px;
  font-family: var(--primary-font);
}

.journey__content {
  margin-top: 45px;
}

.journey__content {
  max-width: auto;
}

.journey__content a {
  width: 230px;
  height: 65px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}

.fresh__arrival__section {
  width: 90%;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
}

.fresh__arrival__section h2 {
  font-size: 56px;
  font-family: var(--primary-font);
}

.arrivals__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 22px;
  margin-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    gap: 115px;
  }
  .journey__content {
    max-width: 465px;
  }
  .journey__section {
    display: flex;
    align-items: center;
    gap: 65px;
    width: 76%;
    margin: 45px auto;
  }
  .hero_image_desktop {
    display: block;
  }
  .hero_content h1 {
    font-size: 70px;
  }

  .listed__container ul {
    flex-direction: row;
    gap: 65px;
  }

  .hero_mobile_image {
    display: none;
  }

  .hero_content {
    width: 565px;
  }
}
